* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 62.5% 'Roboto', sans-serif;
    background: rgba(0, 0, 0, .2);
}

body {
    font-size: 1.8rem;
}



/* *************** HEADER **************** */
header {
    height: 35vh;

}

header h1 {
    font-weight: 300;
    font-size: 5rem;
}



/* *************** MAIN **************** */

article {
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background: white;
}

form section .form-block {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.button {
    margin: 10px;
}